<h1> A FABRICATED HISTORY OF ROCK, PAPER, SCISSORS </h1>


<p> Many years ago in a small village in Sibera, a poor peasant named Papa Kirov had the unpleasant
  responsibility of caring for his three children: Sasha, Olga, and Boris. <br>
  It is an unfortunate fact that these children were monsterous little bastards. They terrorized local farm animals, stole tar,
  and drank all of Papa Kirov's vodka. <br> In order to keep them from drunkenly pulling oxen tails,
  Papa Kirov created 'rock, paper, scissors', a game which in its truest sense was no more than a battle royale.<br>
  The weapons provided were a sheet of parchment, a heavy rock, and a rusty knife. Each child blindly chose one weapon,
  and then all three fought until the death. Poor Olga got parchment (to this day the worst option in the game) so she
  was killed first. But in the end they all died because this was before penicillin. Papa Kirov buried them out back in the onion
  grove.<br> Nowadays, we use a watered down version to keep children from annoying us on long car journeys.<br>
  THE END</p>
