<h1>THESE ARE THE RULES</h1>

  <h2>You  have three choices:</h2>
    <ul>
      <li>SCISSORS</li>
      <li>ROCK</li>
      <li>PAPER</li>
    </ul>

  <h2>TO PLAY:</h2>
    <h4>Type two values into the address bar after the URL like this: /rock/scissors</h4>
    <p><em>ROCK</em> beats <em>SCISSORS</em><br>
      <br> <em>SCISSORS</em> beats <em>PAPER</em> <br>
      <br><em> PAPER</em> beats <em>ROCK</em></p>

  <h2>NO PRIZES</h2>
