<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/style.css">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      <br>
      <a href="/about"> HISTORY OF ROCK PAPER SCISSORS</a>
    </nav>
    <%= yield %>
  </body>
</html>
